@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Customer Use</h2>
        <p>
			<a asp-page="Orders/Create" class="btn btn-info btn-lg" role="button">
				<span class="glyphicon glyphicon-glass"></span>
				Drink Choice? <span class="glyphicon glyphicon-glass"></span>
			</a>
        </p>
    </div>
    
    <div class="col-md-3">
        <h2>Employee</h2>
        <p>
			<a asp-page="Orders/Index" class="btn btn-info btn-lg" role="button">
				<span class="glyphicon glyphicon-list"></span>
				Ordered Drinks <span class="glyphicon glyphicon-list"></span>
			</a>
        </p>
    </div>
</div>
